jupyterlab==3.6.3
jupyterlab-vim
ipython
ipython-autotime
ipympl
pylint
flake8
pep8-naming
pycodestyle_magic
tqdm
matplotlib
seaborn
statsmodels
pandas
scikit-learn
dynamic-yaml
isort
tabulate
ruptures
networkx
